.simple-radio {
    display: table-row;
}

.simple-radio > input,
.simple-radio > label {
    display: table-cell;
}

.simple-radio > label {
    cursor: pointer;
    font-weight: normal;
    padding-left: 8px;
    padding-right: 8px;
}

.stem-row {
    margin-top: 20px;
}

.stem-row,
.answer-row,
.explanation-row {
    margin-bottom: 10px;
}

#previous_button,
#next_button {
    margin-top: 20px;
}

img.question-image.small,
img.question-image.medium,
img.question-image.large {
    width: auto;
}

img.question-image.small {
    max-height: 150px;
}

img.question-image.medium {
    max-height: 175px;
}

img.question-image.large {
    max-height: 200px;
}

img.question-image.extend {
    width: 100%;
}

.graph-container {
    margin-left: auto;
    margin-right: auto;

    position: relative;
    width: 75%;
}
.graph-container:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.graph-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.result-graph {
    width: 100%;
    height: 100%;
}

.result-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outcome-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.statistics-row {
    margin-bottom: 20px;
}